# Temp files
.DS_Store
*~
buck-out/
/core

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/results/
/saved_job_logs/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# Everything in /logs
/logs/

# Run logs
*.log
*.out
*.err

# Saved images
*.png

